@import (reference) "../../../../common-ui/styles/util.less";

.item-detail-card {
  .standard-round-border();
  .invert-input-colors();
  //--input-background-color: var(--bg-color);
  padding: 18px 20px 20px;
  overflow: clip;
  background-color: var(--table-bg-color);

  h3 {
    margin: 0 0 14px;
  }
}
