.shared-models-list, .external-links-list {
  display: grid;
  gap: 8px;
}

.shared-model-item, .external-link-item {
  display: block;
  padding: 8px 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  color: inherit;
  text-decoration: none;
  background-color: var(--input-background-color);

  &:hover {
    background-color: var(--input-hover-background-color);
  }
}
