.item-stats-table,
.item-detail-info-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  td {
    padding: 8px;
    border-bottom: 1px solid var(--border-color);
  }

  td:first-child {
    text-align: right;
    width: 60%;
  }

  td:last-child {
    text-align: left;
    width: 40%;
  }
}
