.item-detail-title-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0;
}

.item-detail-title-card-row {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: max-content;
  min-width: 0;
  max-width: 100%;
}

.item-detail-title-card img {
  flex: 0 0 auto;
}
