materia-autofill-settings-modal {

  .modal-inner {
    max-width: 300px;
  }

  .materia-max-waste-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    margin: 5px;

    input.materia-max-waste-input {
      width: 4em;
      text-align: right;
    }
  }
}

