@import "../../common-ui/styles/common.less";
@import "../../common-ui/styles/ads.less";

custom-item-popup, custom-food-popup {
  table {
    td {
      input[type="text"], input[type="number"], select {
        &input {
          width: unset !important;
        }

        box-sizing: border-box;
        max-width: 100%;
        //border: var(--soft-border);
        border: 2px solid transparent;
        padding: 0 0 0 0;
        background: var(--relic-stat-input-background-color);
        //box-sizing: border-box;
        //margin: 1px;
        text-align: center;

        &:hover, &:active, &:focus {
          background: var(--relic-stat-input-background-hover-color);
        }

      }

      select {
        width: 100%;
      }
    }
  }

  .notes-area {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

sim-result-detail-display {
  margin: auto;
  display: block;
  width: fit-content;
}

.gear-sheet-editor-area {
  sim-result-detail-display {
    width: 100%;
    height: 100%;
  }
}


meld-solver-result-dialog {
  // The main body of the results
  .meld-solver-result {
    --img-col-width: 40px;
    --bonus-col-width: 1fr;
    --count-col-width: 50px;
    --arrow-col-width: 60px;
    display: grid;
    // Columns:
    // Left materia image
    // Left materia bonus
    // Left materia count
    // Arrow/Delta
    // Right materia image
    // Right materia bonus
    // Right materia count
    grid-template-columns: var(--img-col-width) var(--bonus-col-width) var(--count-col-width) var(--arrow-col-width) var(--img-col-width) var(--bonus-col-width) var(--count-col-width);
    gap: 15px 5px;

    span.arrow {
      margin: 10px;
      font-size: xx-large;
    }

    .meld-results-arrow {
      grid-column: 4;
      grid-row: 1/-1;
    }

    .meld-solver-result-set-sim {
      color: color-mix(in srgb, currentColor var(--sim-color-mix-percent), color-mix(in hsl, #00ff00 var(--sim-result-relative, 50%), #ff0000));
    }

    .sim-best {
      font-weight: bold;
    }

    .cols-left {
      grid-column: 1 / span 3;
    }

    .cols-right {
      grid-column: 5 / span 3;
    }

    .cols-middle {
      grid-column: 4;
    }

    .solve-result-mat-entry-holder {
      display: grid;
      grid-template-columns: subgrid;
      grid-template-rows: subgrid;


      .meld-solver-result-materia-entry {
        display: contents;

        --image-size: 25px;

        .meld-solver-result-image {
          grid-column: 1;
          overflow: clip;
          width: var(--image-size);
          height: var(--image-size);
          margin-right: 3%;
          border-radius: 100%;
          text-align: right;
          margin-left: auto;

          img {
            //width: 100%;
            height: 100%;
            display: block;
            aspect-ratio: 1;
          }
        }

        .meld-solver-result-materia-entry-stat {
          text-align: left;
          grid-column: 2;
        }

        .meld-solver-result-materia-entry-count {
          margin-left: 5%;
          text-align: left;
          grid-column: 3;
        }

      }
    }
  }


  .meld-solver-result-materia-entry-delta {
    text-align: center;
  }

  .meld-solver-result-materia-entry-zero {
    color: var(--border-color-default);
  }

  .meld-solver-result-materia-entry-diff {
    background-color: var(--scrollbar-bg);
  }
}

meld-solver-area, meld-solver-result-dialog {
  .modal-inner {
    width: 500px;
    max-width: 95vw;
  }
}

img.item-icon {
  border-radius: 10%;

  &.loaded {
    border-radius: unset;
    background: unset;
  }
}

img.item-rarity-normal, img.item-rarity-unknown {
  background: radial-gradient(#7a7b70, #4b4d4a);
}

img.item-rarity-green {
  background: linear-gradient(#494842, #29d281);
}

img.item-rarity-blue {
  background: radial-gradient(circle at 35% 35%, #63a0c9, #203c8b 50%);
}

img.item-rarity-relic {
  background: radial-gradient(#7550a7, #693971);
}

.abilities-used-table {

  .ability-cell {
    height: 100%;
    max-height: var(--abilities-row-height);
    display: flex;
    align-items: center;

    .ffxiv-ability-icon {
      height: 100%;
      display: block;
      aspect-ratio: 1;
    }

    .ability-name {
      overflow-x: hidden;
      text-overflow: ellipsis;
      line-height: initial;
      flex-shrink: 1;
      flex-grow: 1;
    }

    &.ability-ogcd {
      &::before {
        content: '⤷';
        transform: scale(1.5);
        font-weight: bold;
        margin-right: 2px;
      }
    }

    &.ability-autoattack {
      &::before {
        content: '🗘';
        transform: scale(1.2) rotate(50deg);
      }
    }
  }

  th {
    text-align: center;
  }

  td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1px;
    height: var(--abilities-row-height);

    &[col-id='time'] {
      text-align: right;
    }

    &[col-id='buffs'] {
      padding-top: 0;

      .active-buffs-list {
        height: 100%;
        width: 100%;
        display: inline-flex;
        align-items: center;
        max-height: var(--abilities-row-height);

        img {
          height: 100%;
          flex-shrink: 0;
          padding-right: 2px;
          aspect-ratio: 0.75;
        }

        span {
          flex-shrink: 1;
          display: block;
          min-width: 1px;
          overflow-x: hidden;
          text-overflow: ellipsis;
          line-height: var(--abilities-row-height);
        }
      }
    }
  }

  td, th {
    &[col-id='time'] {
      width: 75px;
      max-width: 75px;
    }

    &[col-id='ability'] {
      min-width: 150px;
      max-width: 400px;
    }

    &[col-id='unbuffed-pot'] {
      width: 40px;
      max-width: 40px;
      text-align: right;

    }

    .split-aligned-value {
      display: flex;
      padding-right: 10px;
      :first-child {
        flex-grow: 1;
      }
      :last-child {
        display: inline-block;
        width: 0;
        flex-basis: 0;
      }
    }

    .extra-indicator {
      width: 0;
      display: inline-block;
    }

    &[col-id='expected-damage'] {
      width: 100px;
      max-width: 100px;
      text-align: right;
      padding-right: 10px;
    }

    &[col-id='buffs'] {
      width: 400px;
      max-width: 400px;
    }
  }
}

sheet-info-modal {
  .modal-content-area {

    table {
      max-width: 600px;
      width: 100%;

      td {
        width: 50%;

        &[col-id='key'] {
          text-align: right;
          padding-right: 10px;
        }

      }
    }
  }
}
