.switch-nitro-color {
  background-color: var(--bg-color) !important;
  color: var(--fg-color) !important;

  * {
    color: var(--fg-color) !important;
  }

}

div#nitropay-ccpa-modal {
  .switch-nitro-color();
}

//noinspection Stylelint
div#ncmp__tool div.ncmp__banner-web {
  .switch-nitro-color();
}

body:not(.light-mode) {
  div#nitropay-ccpa-modal {
    img {
      filter: invert();
    }
  }

  //noinspection Stylelint
  div#ncmp__modal {
    div.ncmp__modal-web {
      filter: invert() hue-rotate(180deg);
    }
  }

}


.extra-information-link {
  &:not(:empty) {
    display: block;
  }

  &:empty {
    display: none;
  }

  button {
    all: inherit;
    cursor: pointer;
    text-decoration: underline;
    margin: auto;
  }
}

#fallback-privacy-area {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--table-bg-color);

  padding: 2px 4px 2px 2px;

  border-top-right-radius: 6px;

  z-index: var(--zi-privacy-link);

  >* {
    display: inline-block !important;
  }

  span, div {
    &.extra-information-link {
      &:empty {
        display: none !important;
      }
      &.extra-information-link::before {
        content: ' - ';
        padding-left: 5px;
      }
    }
  }

}

.collapse-vertical {
  min-height: 50px !important;
}