body {
  --default-gauge-color: #00000033;
}

// gauge-outer and gauge-bar pertain to the "bar"-style guage display
.gauge-outer {
  display: flex;
  align-items: center;
  gap: 6px;
  height: 100%;
  box-sizing: border-box;

  &.sim-gauge {
    padding: 2px 0 2px 0;
  }

  &.gauge-narrow {
    width: 60px;
  }
}

gauge-bar {
  display: inline-block;
  overflow: hidden;
  width: 120px;
  border-radius: 20px;
  background-color: var(--default-gauge-color);
  height: calc(100% - 3px);
  border: 1px solid black;

  &.sim-gauge {
    padding: 2px 0 2px 0;
  }

  .gauge-bar-inner {
    height: 100%;
  }
}

.icon-gauge-holder {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 2px 0;
  box-sizing: border-box;

  > span:empty {
    height: 100%;
    width: 16px;
    display: inline-block;
    overflow: hidden;
    flex-basis: 16px;
    flex-shrink: 0;
    flex-grow: 0;
  }

  > span:not(:empty) {
    flex-grow: 1;
  }
}

.shape-diamond {
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%, 0% 50%);
}

.shape-circle {
  clip-path: circle();
}

.shape-rightchevron {
  clip-path: polygon(75% 12%, 100% 50%, 75% 88%, 0% 88%, 25% 50%, 0% 12%);
  margin-right: -2px;
}

// WHM
.whm-gauge {
  .shape-diamond();
}

.whm-gauge-default {
  .whm-gauge();
  background-color: var(--default-gauge-color);
}

.whm-gauge-blue {
  .whm-gauge();
  background-color: #02d9c3;
}

.whm-gauge-red {
  .whm-gauge();
  background-color: #ff0033;
}

.sch-gauge {
  .shape-diamond();
}

// SCH
.sch-gauge-default {
  .sch-gauge();
  background-color: var(--default-gauge-color);
}

.sch-gauge-active {
  .sch-gauge();
  background-color: #0FFF33;
}

// MNK
.mnk-chakra-gauge {
  .shape-circle();
}

.mnk-chakra-gauge-default {
  .mnk-chakra-gauge();
  background-color: var(--default-gauge-color);
}

.mnk-chakra-gauge-red {
  .mnk-chakra-gauge();
  background-color: #f32908;
}

.mnk-chakra-gauge-orange {
  .mnk-chakra-gauge();
  background-color: #f37208;
}

.mnk-chakra-gauge-number {
  min-width: 50px;
}

.mnk-beastfury-gauge {
  .shape-circle();
}

.mnk-beastfury-gauge-default {
  .mnk-beastfury-gauge();
  background-color: var(--default-gauge-color);
}

.mnk-beastfury-gauge-opo {
  .mnk-beastfury-gauge();
  background-color: #f796c6;
}

.mnk-beastfury-gauge-raptor {
  .mnk-beastfury-gauge();
  background-color: #cd9bff;
}

.mnk-beastfury-gauge-coeurl {
  .mnk-beastfury-gauge();
  background-color: #83ffaa;
}

.mnk-nadi-gauge {
  .shape-circle();
}

.mnk-nadi-gauge-default {
  .mnk-nadi-gauge();
  background-color: var(--default-gauge-color);
}

.mnk-nadi-gauge-lunar {
  .mnk-nadi-gauge();
  background-color: #bd86ff;
}

.mnk-nadi-gauge-solar {
  .mnk-nadi-gauge();
  background-color: #ffffff;
}

td[col-id="nadi"] {
  padding-left: 12px;
  padding-right: 12px;
}

.mnk-beastchakra-gauge {
  .shape-diamond();
}

.mnk-beastchakra-gauge-default {
  .mnk-beastchakra-gauge();
  background-color: var(--default-gauge-color);
}

.mnk-beastchakra-gauge-opo {
  .mnk-beastchakra-gauge();
  background-color: #f786bd;
}

.mnk-beastchakra-gauge-raptor {
  .mnk-beastchakra-gauge();
  background-color: #ad79d6;
}

.mnk-beastchakra-gauge-coeurl {
  .mnk-beastchakra-gauge();
  background-color: #65b291;
}


// BLM
.blm-element {
  .shape-diamond();
}
.blm-element-default {
  .blm-element();
  background-color: var(--default-gauge-color);
}
.blm-element-fire {
  .blm-element();
  background-color: rgb(255 74 101 / 1);
}
.blm-element-ice {
  .blm-element();
  background-color: rgb(59 176 255 / 1);
}

.blm-polyglot {
  .shape-diamond();
}
.blm-polyglot-default {
  .blm-polyglot();
  background-color: var(--default-gauge-color);
}
.blm-polyglot-full {
  .blm-polyglot();
  background-color: #e06796;
}

.blm-paradox {
  .shape-diamond();
}
.blm-paradox-default {
  .blm-paradox();
  background-color: var(--default-gauge-color);
}
.blm-paradox-full {
  .blm-paradox();
  background: #ff4a65 linear-gradient(180deg, rgb(255 74 101 / 1) 0%, rgb(254 196 255 / 1) 50%, rgb(59 176 255 / 1) 100%);
}

.blm-umbralhearts {
  .shape-diamond();
}
.blm-umbralhearts-default {
  .blm-umbralhearts();
  background-color: var(--default-gauge-color);
}
.blm-umbralhearts-full {
  .blm-umbralhearts();
  background-color: #ffffff;
}

.blm-astralsoul {
  .shape-rightchevron();
}
.blm-astralsoul-default {
  .blm-astralsoul();
  background-color: var(--default-gauge-color);
}
.blm-astralsoul-full {
  .blm-astralsoul();
  background-color: #ffc27a;
}

.vpr-rattling-gauge {
  .shape-diamond();
}

.vpr-rattling-gauge-default {
  .vpr-rattling-gauge();
  background-color: var(--default-gauge-color);
}
.vpr-rattling-gauge-full {
  .vpr-rattling-gauge();
  background-color: #84100F;
}

.sam-meditation-gauge {
  .shape-diamond();
}

.sam-meditation-gauge-default {
  .sam-meditation-gauge();
  background-color: var(--default-gauge-color);
}

.sam-meditation-gauge-full {
  .sam-meditation-gauge();
  background-color: #ff6723;
}

.gnb-cartridge {
  .shape-circle();
}

.gnb-cartridge-default {
  .gnb-cartridge();
  background-color: var(--default-gauge-color);
}

.gnb-cartridge-red {
  .gnb-cartridge();
  background-color: #f32908;
}

.gnb-cartridge-orange {
  .gnb-cartridge();
  background-color: #f37208;
}

.drg-wwt {
  .shape-diamond();
}

.drg-wwt-default {
  .drg-wwt();
  background-color: var(--default-gauge-color);
}

.drg-wwt-full {
  .drg-wwt();
  background-color: #6003FF;
}

.sim-gauge {
  &.two-digit {
    --gauge-text-width: 19px;
  }
  &.three-digit {
    --gauge-text-width: 28px;
  }
  &.four-digit {
    // TODO: untested
    --gauge-text-width: 37px;
  }
  &.five-digit {
    --gauge-text-width: 46px;
  }
}
.gauge-text-label {
  //--gauge-text-width: auto;
  min-width: var(--gauge-text-width, auto);
}

