body {
  --bg-color: #181818;
  --fg-color: #b0b0b0;
  --border-color: #666666;
  --table-bg-color: #252525;
  --table-bg-color-selected: #333333;
  --table-selected-outline-color: #00bbbb;
  --color-sps-sks: #22ff22;
  --color-crit: #ff2222;
  --color-dhit: #ff8800;
  --color-det: #0099ff;
  --color-tnc: #ffff00;
  --color-piety: #ff00ff;
  --stat-mix-primary: 70%;
  --stat-mix-primary-bg: 12%;
  --stat-mix-secondary: 12%;
  --stat-mix-secondary-bg: 6%;
  --materia-overcap-major: #ff0000;
  --materia-overcap: #dd7700;
  --standard-border: 1px solid var(--border-color);
  --thick-border: 2px solid var(--border-color);
  --selected-outline: 3px solid var(--table-selected-outline-color);
  --stat-color: var(--fg-color);
  --modal-backdrop-color: #88888833;

  color: var(--fg-color);
  background-color: var(--bg-color);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 0;
  height: 100vh;
  overflow-y: hidden;
  margin: 0;
}

div#dev-menu-area {
  flex: 0;
  margin: 5px;
  padding: 5px;
  border: 1px solid var(--border-color);

  button {
    margin: 10px;
  }
}

div#content-area {
  /*flex-grow: 0;*/
  /*flex-shrink: 9999;*/
  flex-basis: content;
  overflow-y: auto;
  min-height: 0;
  flex-shrink: 1;
  flex-grow: 1;
  max-height: 100%;
}

/* Doesn't work on Firefox yet */
/*div#content-area:has(gear-plan) {*/
/*    max-height: 50vh;*/
/*}*/

div#editor-area {
  text-align: center;
  overflow-y: scroll;
  flex-basis: 60%;
  //flex-shrink: 99;
  flex-grow: 9999;
  min-height: 60%;
  max-height: 100%;
  border-top: 2px solid var(--border-color);
  margin-top: 5px;
  padding-top: 8px;
  padding-bottom: 8px;

  table {
    text-align: left;
  }
}


.table-item-selected {
  outline: var(--selected-outline);
  border-radius: 5px;
}

.table-item-selected-bg {
  background-color: var(--table-bg-color-selected);
}

table {
  border: none;
  border-spacing: 0;

  tbody, thead, tfoot {
    text-align: left;
  }


  tr {
    /*border: 2px solid #666666;*/
    border: 3px solid var(--border-color);
    background-color: var(--table-bg-color);
    scroll-margin: 30px;
    position: relative;

    &[is-selected="true"] {
      .table-item-selected-bg;

      &::after {
        content: '';
        position: absolute;
        right: 2px;
        top: 1px;
        left: 2px;
        bottom: 1px;
        //width: min(100%, 100vw);
        //height: calc(100% - 4px);
        display: inline-block;
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        //margin-right: -100vh;

        z-index: 90;
        pointer-events: none;
        //background-color: #0099ff;
        .table-item-selected;
      }
    }

    th {
      border-top: var(--thick-border);
      border-bottom: var(--thick-border);

      &:first-child {
        border-left: var(--thick-border);
      }

      &:last-child {
        border-right: var(--thick-border);
      }

      &[is-selected="true"] {
        .table-item-selected;
        .table-item-selected-bg;
      }
    }

    &:first-child {
      // TODO: is this doing anything?
      border-top: var(--standard-border);

      td {
        border-top: var(--thick-border);
      }
    }

    td {
      border-left: var(--standard-border);
      border-top: none;
      border-bottom: var(--thick-border);
      border-right: none;
      margin: 0;
      padding: 1px 3px 1px 3px;
      text-overflow: ellipsis;
      overflow: hidden;
      scroll-margin: 20px;
      position: relative;

      &[is-selected="true"] {
        .table-item-selected;
      }

      &:last-child {
        border-right: var(--standard-border);
      }
    }
  }
}

// Provides the selected outline for table elements

select {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}

button {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-radius: 5px;
  border: 1px solid var(--border-color);

  &:hover {
    background-color: #333333;
  }

  &:active {
    //color: #999999;
    background-color: #555555;
    border-color: #ffffff;
  }
}

.extra-stat-info {
  float: right;
  padding-right: 8px;
}

td[col-id="actions"] div {
  display: inline-flex;
}

td[col-id="icon"] {
  padding: 0;
  margin: 0;
  border-right: none;
}

td[col-id="itemname"] {
  border-left: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

td[col-id="icon"] img {
  display: block;
}

input[type="text"] {
  color: var(--fg-color);
  background-color: var(--bg-color);
  border-radius: 5px;
  border-color: var(--border-color);
}

.title-editor {
  margin-bottom: 10px;
  width: 400px;
  font-size: 30px;
  text-align: center;
}

.gear-set-name-editor {
  .title-editor;
}

.sim-name-editor {
  .title-editor;
}

table.gear-plan-table {
  border-collapse: separate;
  border-spacing: 0;
  overflow-x: scroll;
  // Dumb. Gross. Why can't position: sticky have any reasonable way of working with variable-width columns?
  --action-col-width: 60px;

  td {
    scroll-margin-top: 60px;
    scroll-margin-bottom: 40px;
  }

  td, th {
    background: inherit;

    &:first-child, &:nth-child(2) {
      box-sizing: border-box;
      position: sticky;
    }

    &:first-child {
      left: 0;
      width: var(--action-col-width);
      min-width: var(--action-col-width);
      max-width: var(--action-col-width);
    }

    &:nth-child(2) {
      left: calc(var(--action-col-width));
    }

    &[col-id^="sim-col-"] {
      min-width: 70px;
    }
  }

  tr {
    scroll-margin-top: 60px;
    scroll-margin-bottom: 40px;
    position: relative;

    td:first-child {
      left: 0;
      width: var(--action-col-width);
      min-width: var(--action-col-width);
      max-width: var(--action-col-width);
      outline: inherit;
      z-index: 70;

      button {
        padding: 0 4px 0 4px;
      }

    }

    td:nth-child(2) {
      // love css - why is there no "just keep this in place"
      // option for stickies?
      left: calc(var(--action-col-width));
      z-index: 70;
      border-right: var(--standard-border);
      white-space: nowrap;
    }

    td:nth-child(3) {
      border-left: none;

    }
  }

  //
  //tr:last-child {
  //  bottom: 0;
  //}


  tr:first-child {
    position: sticky;
    top: 0;
    border: var(--thick-border);
    z-index: 99;

    th {
      height: 54px;
      border-top: var(--thick-border);
      border-bottom: var(--thick-border);

      padding: 0 5px 0 5px;

      &:first-child {
        border-left: var(--thick-border);
      }

      //&:last-child {
      //  border-right: var(--thick-border);
      //}
    }
  }
}

#gear-sheet-button-row {
  left: 0;
  bottom: 0;
  position: sticky;
  z-index: 99;
  //background-color: var(--table-bg-color);
  //border: var(--thick-border);
  box-sizing: border-box;
  text-align: left;
  // I hate css
  margin-right: -300px;
  width: min(100%, 100vw);
  margin-top: 8px;

  >* {
    margin-right: 10px;
  }

}

#content-area {
  text-align: center;

  table {
    margin: auto;
  }
}


#new-sheet-form fieldset {
  text-align: center;
  display: inline-grid;
  border: none;
}

gear-plan {
  margin: auto;
  width: fit-content;
  display: block;
  position: relative;
  // Make the loading spinner happy
  min-width: 120px;

  table {
    margin: auto;
  }
}


table#gear-items-table, table#food-items-table {
  margin: auto auto 5px;

  tr, td {
    height: 25px;
  }

  img {
    height: 100%;
  }
}


div#main-menu-area {
  border-bottom: 2px solid var(--border-color);
  text-align: center;
  margin-bottom: 10px;

  a:link,
  a:active,
  a:visited,
  a:hover {
    color: var(--bg-color);
    background-color: var(--fg-color);
    border-radius: 3px;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    margin: 5px;
  }

  a:hover {
    background-color: #ccccdd;
  }
}


h1.js-warning {
  color: #ff0000;
  text-decoration: underline 2px double #ff0000;
}

table.gear-sheets-table {
  min-width: 800px;

  td[col-id="sheetactions"] {
    width: 150px;

    div {
      display: flex;

      button {
        flex: 1;
      }
    }
  }
}

table all-slot-materia-manager {
  width: max-content;
  display: table-caption;
  height: 23px;

  & > span {
    vertical-align: middle;
    display: inline-block;
  }

  &.materia-slot-no-slots > span {
    color: var(--border-color);

  }
}

slot-materia-manager {
  display: inline-block;
  position: relative;
  margin-right: 5px;
  height: fit-content;
  width: 100px;
  vertical-align: middle;

  --image-size: 18px;

  div.materia-image-holder {
    overflow: clip;
    width: var(--image-size);
    height: var(--image-size);
    padding: 0;
    margin: 0;
    border: 2px #3c623c solid;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 100%;
    height: 100%;
    display: block;
  }

  & > span {
    vertical-align: middle;
    display: inline-block;
  }

  &.materia-overcap > span {
    color: var(--materia-overcap);

    //div.materia-image-holder {
    //  border-color: var(--materia-overcap);
    //}
  }

  &.materia-overcap-major > span {
    color: var(--materia-overcap-major);

    //div.materia-image-holder {
    //  border-color: var(--materia-overcap-major);
    //}
  }
}

slot-materia-popup {
  position: absolute;
  z-index: 150;
  left: 0;

  td {
    width: fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
    z-index: 180;

    img {
      width: 40px;
      height: 40px;
      display: block;
    }

    &[is-selected="true"] {
      z-index: 181;
    }

    &:first-child {
      text-align: right;
      padding: 4px !important;
    }
  }
}

sim-result-display {
  display: inline-block;
  width: 100%;
}

dialog#add-sim-dialog {
  position: absolute;
  z-index: 200;
  background-color: var(--table-bg-color);
  color: var(--fg-color);
  border: var(--thick-border);

  &::backdrop {
    background-color: var(--modal-backdrop-color);

  }
}

#sim-config-area-outer {
  margin: auto;
  width: fit-content;

  .sim-name-editor {
    display: block;
    margin: auto auto 10px;
  }

  .sim-config-area-inner {
    padding: 10px;
  }
}

// Stat-related stuff

.color-stat-column {
  &.primary {
    color: color-mix(in srgb, var(--stat-color) var(--stat-mix-primary), var(--fg-color));
    background-color: color-mix(in srgb, var(--stat-color) var(--stat-mix-primary-bg), var(--table-bg-color));
  }

  &.secondary {
    color: color-mix(in srgb, var(--stat-color) var(--stat-mix-secondary), var(--fg-color));
    background-color: color-mix(in srgb, var(--stat-color) var(--stat-mix-secondary-bg), var(--table-bg-color));
  }
}

td.stat-crit {
  --stat-color: var(--color-crit);
  .color-stat-column;
}

td.stat-dhit {
  --stat-color: var(--color-dhit);
  .color-stat-column;
}

td.stat-determination {
  --stat-color: var(--color-det);
  .color-stat-column;
}

td.stat-tenacity {
  --stat-color: var(--color-tnc);
  .color-stat-column;
}

td.stat-spellspeed, td.stat-skillspeed {
  --stat-color: var(--color-sps-sks);
  .color-stat-column;
}

td.stat-piety {
  --stat-color: var(--color-piety);
  .color-stat-column;
}

td.stat-melded, td.stat-melded-overcapped, td.stat-melded-overcapped-major {
  box-shadow: 0 0 2px 2px color-mix(in srgb, var(--stat-color) 40%, #cccccc) inset;
}

//td.stat-melded {
//  box-shadow: 0 0 2px 2px #cccccc inset;
//}
//td.stat-melded-overcapped {
//  box-shadow: 0 0 2px 2px var(--materia-overcap) inset;
//}
//td.stat-melded-overcapped-major {
//  box-shadow: 0 0 3px 3px var(--materia-overcap-major) inset;
//}

td.stat-zero {
  color: color-mix(in srgb, var(--table-bg-color) 50%, var(--fg-color));
}

td.primary {
  font-weight: bold;
}

loading-blocker {
  display: block;
  background-color: var(--modal-backdrop-color);

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  z-index: 190;

  // Loading spinner stuff
  div.loading-spinner {

    margin: auto;
    width: 100px;
    height: 100px;
    padding-left: 10px;
    box-sizing: border-box;

    div {
      transform-origin: 40px 40px;
      animation: spin-anim-control linear infinite;

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 3px;
        left: 37px;
        width: 6px;
        height: 18px;
        border-radius: 20%;
        background: #fff;
      }
    }
  }
}

@keyframes spin-anim-control {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}