name: Deploy to Beta Environments

on:
  pull_request:
    types: [opened, synchronize, reopened, labeled]

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: ${{ github.event.inputs.environment }}
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v2

      - name: Use Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.15.0

      - name: Build
        run: |
          npm install
          npm run buildprod
          npx lessc --source-map ./src/style.less dist/style.css
          npm run test
          npm run docs

      - name: Inject commit info
        run: |
          git rev-parse HEAD > dist/version_info.txt
          git log -1 --pretty=%B >> dist/version_info.txt

    # Docker stuff begins here
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    #        with:
    #          buildkitd-flags: --debug

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ github.events.input.environment }}
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64,linux/arm64
